package main

service HelloService {
    go Hello(string) (string, error)
    Add(*string, []byte) (*string, error)
    Print(*string, []byte) ([]byte, error)
}

service WorldService {
    Hi()
    go Sum() (int, error)
}
