package main

service HelloService {
    go Hello(string) (string, error)
    Add(*string, int) (*string, error)
}

service WorldService {
    Hi()
    go Sum() (int, error)
}
