package main 

service HelloService {
    Hello(string) (string, error)
    HelloError(*string, string) (*string, error)
    go Add(int, *int) (int, error)
    Ping()
    Bye(string)
}